<%= form_for screen, url: theatre_screen_path(show_id: @showtime,id: screen) do |form| %>

  <%= link_to_add_nested(form, :showtimes, '#showtimes') %> <!-- adds a link to add more items -->
  <div id='showtimes'>
    <%= form.fields_for :showtimes do |showtime_f| %>
      <%= render 'showtime_fields', form: showtime_f %>
    <% end %>
  </div>
  <%= form.submit %> 
<% end %>
 